<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Steve Michelotti</h4>
            <p>{{@site.description}} <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>

        <hr/>
    {{/is}}


    <div class="widget sidebar-featured">

        <a target="_blank" href="https://www.pluralsight.com/authors/steve-michelotti">
            <img width="100%" src="{{asset "/img/pluralsight.png"}}" alt="">
        </a>
        <ol>
            <li>
                <a target="_blank" href="https://app.pluralsight.com/library/courses/getting-started-dapper/table-of-contents">Dapper: Getting Started</a>
            </li>
            <li>
                <a target="_blank" href="https://app.pluralsight.com/library/courses/ng-bootstrap-playbook/table-of-contents">ng-bootstrap Playbook</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/ionic2-angular2-typescript-mobile-apps">Building Mobile Apps with Ionic, Angular, and TypeScript</a>
            </li>
            <li>
                <a target="_blank" href="https://app.pluralsight.com/library/courses/microsoft-azure-cognitive-services-face-api/table-of-contents">Microsoft Azure Cognitive Services: Face API</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/angularui-fundamentals">AngularUI Fundamentals</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/yeoman-fundamentals">Yeoman Fundamentals</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/building-mobile-apps-ionic-framework-angularjs">Building Mobile Apps With the Ionic Framework and AngularJS</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/dotnet-micro-orms-introduction">.NET Micro ORMs</a>
            </li>
            <li>
                <a target="_blank" href="https://www.pluralsight.com/courses/knockout">Knockout Fundamentals</a>
            </li>
        </ol>
    </div>

    <hr/>

    {{!--<div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Most Recent</h4>
        {{#get "posts" limit="7"}}
        <ul>
            {{#foreach posts}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
        </ul>
        {{else}} {{#if @error}}{{@error}}{{/if}} {{/get}}
    </div>

    <hr/>--}}

</div>
